.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0.5rem;
  color: var(--secondary-color);

  margin: 0 auto;
  min-width: 360px;
  height: 100vh;
}

.title {
  font-size: 4rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: -3px;
}

.subtitle {
  font-size: 2rem;
}

.main {
  flex-grow: 3;
}

.footer {
  position: absolute;
  top: 30rem;
  width: 100%;
}

.footer-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
